<a href="https://colab.research.google.com/github/RamosTor/MineriaDeDatos/blob/main/Conceptos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mineria de datos

## Primer Parcial

### Introduccion

#### Conceptos

La minería de datos es un conjunto de técnicas y procesos que permiten extraer patrones significativos, tendencias y información útil a partir de grandes volúmenes de datos. Esta práctica se puede considerar un subcampo de la inteligencia artificial y la estadística, y su objetivo principal es transformar datos sin procesar en información comprensible y aplicable.

Ciencia de datos

La ciencia de datos es un campo que combina las matemáticas y la estadística, la programación especializada, los analytics avanzados, la inteligencia artificial IA y el machine learning con conocimientos específicos en la materia para descubrir insights procesables ocultos en los datos de una organización.

Help and Document in IPython

In [ ]:
# La funcion help nos muestra la ayuda
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [ ]:
# Otra forma de obtener ayuda es utilizando ?
len?

In [ ]:
# Ejemplo de ayuda en una lista
L = [1, 2, 3]
L.insert?

In [ ]:
# Otro ejemplo de ayuda
L?

In [ ]:
# Ejemplo con una función con Docstring
def square(a):
    """Return the square of a."""
    return a ** 2

In [ ]:
help(square)

Help on function square in module __main__:

square(a)
    Return the square of a.

In [ ]:
# Ejemplo de ayuda de funcion personalizada
square??

In [ ]:
len??

In [ ]:
L.insert

In [ ]:
from itertools import combinations

IPython Magic Commands

In [ ]:
#Sirve para evaluar el desempeño de una expresion en cuanto a tiempo
In [8]: %timeit L = [n ** 2 for n in range(1000)]

39.6 µs ± 613 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [ ]:
# Con doble porcentaje podemos evaluar el desempeño en cuanto a tiempo
%%timeit
L = []
for n in range(1000):
  L.append(n ** 2)

IPython and Shell Commands

In [ ]:
!ls

sample_data

In [ ]:
!ls

'Inteligencia Artificial 2a ed espanol.pdf'   sample_data

In [ ]:
!pwd

/content

In [ ]:
!echo "Hola Mundo"

Hola Mundo

In [ ]:
contents = !ls

In [ ]:
print(contents)

["'Inteligencia Artificial 2a ed espanol.pdf'   sample_data"]

In [ ]:
directory = !pwd

In [ ]:
print(directory)

['/content']

In [ ]:
type(directory)

IPython.utils.text.SList

In [ ]:
message = "hello from Python"

In [ ]:
!echo {message}

hello from Python

In [ ]:
%cd /content/

/content

In [ ]:
%ls

'Inteligencia Artificial 2a ed espanol.pdf'   sample_data/

In [ ]:
%cd sample_data/

/content/sample_data

In [ ]:
%ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*

In [ ]:
%cat README.md

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://docs.google.com/document/d/e/2PACX-1vRhYtsvc5eOR2FWNCwaBiKL6suIOrxJig8LcSBbmCbyYsayia_DvPOOBlXZ4CAlQ5nlDD8kTaIDRwrN/pub

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

Understanding Data Types in Python

In [ ]:
resut=0
for i in range(100):
  resut+=i
print(resut)

4950

In [ ]:
#Importa numpy y renombralo como np
import numpy as np

In [ ]:
#Arreglo lineal de enteros
np.array([1, 4, 2, 5, 3])

array([1, 4, 2, 5, 3])

In [ ]:
#Al ingresar enteros y flotantes los convierte en flotantes
np.array([3.14, 4, 2, 3])

array([3.14, 4.  , 2.  , 3.  ])

In [ ]:
np.array([1, 2, 3, 4], dtype='float32')

array([1., 2., 3., 4.], dtype=float32)

In [ ]:
np.array([1, 2, 3, 4], dtype='int')

array([1, 2, 3, 4])

In [ ]:
#Cuando el argumento de np.array es una interracion anidada genera una matriz
np.array([range(i, i + 3) for i in [2, 4, 6]])

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

In [ ]:
[range(i, i + 3) for i in [2, 4, 6]]

[range(2, 5), range(4, 7), range(6, 9)]

Creating Arrays from Scratch

In [ ]:
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [ ]:
np.ones((3, 5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [ ]:
np.full((3, 5), 3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [ ]:
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [ ]:
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [ ]:
np.random.random((3, 3))

array([[0.46437487, 0.45284646, 0.29707451],
       [0.51517122, 0.327013  , 0.68394146],
       [0.42625886, 0.29010212, 0.95488453]])

In [ ]:
np.random.normal(0, 1, (3, 3))

array([[-1.0740585 ,  1.12558964, -0.85745662],
       [ 0.00706551,  0.0723459 ,  2.72753214],
       [-0.54456944,  0.39763867,  2.30565187]])

In [ ]:
np.random.randint(0, 10, (3, 3))

array([[0, 5, 1],
       [1, 3, 1],
       [9, 5, 6]])

In [ ]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
np.empty(3)

array([1., 1., 1.])

The Basics of NumPy Arrays

In [ ]:
import numpy as np
np.random.seed(0)
x1 = np.random.randint(10, size=6)  # One-dimensional array
x2 = np.random.randint(10, size=(3, 4))  # Two-dimensional array
x3 = np.random.randint(10, size=(3, 4, 5))  # Three-dimensional arra

In [ ]:
print("x3 ndim: ", x3.ndim)
print("x3 shape:", x3.shape)
print("x3 size: ", x3.size)

x3 ndim:  3
x3 shape: (3, 4, 5)
x3 size:  60

In [ ]:
print("dtype:", x3.dtype)

dtype: int64

In [ ]:
print("itemsize:", x3.itemsize, "bytes")
print("nbytes:", x3.nbytes, "bytes")

itemsize: 8 bytes
nbytes: 480 bytes

Array Indexing: Accessing Single Elements

In [ ]:
x1

array([5, 0, 3, 3, 7, 9])

In [ ]:
x1[0]

np.int64(5)

In [ ]:
x1[3]

np.int64(3)

In [ ]:
x1[-1]

np.int64(9)

In [ ]:
x1[-2]

np.int64(7)

In [ ]:
x2[0,2]

np.int64(2)

In [ ]:
x2[-1,-1]

np.int64(7)

In [ ]:
x2[-1,-1]=2
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 2]])

AnalisisEstadistico Basico con Numpy

In [ ]:
data = np.array([1, 2, 3, 4, 5])
media = np.mean(data)
print(media)

3.0

Promedio (Average) y Promedio Ponderado

In [ ]:
data = np.array([1, 2, 3, 4, 5])
weights = np.array([1, 2, 3, 4, 5])
promedio = np.average(data)
promedio_ponderado = np.average(data, weights=weights)

In [ ]:
print(promedio)
print(promedio_ponderado)

3.0
3.6666666666666665

Mediana

In [ ]:
mediana = np.median(data)
print(mediana)

3.0

Varianza y Desviación Estándar

In [ ]:
varianza =np.var(data)
desviacion_estandar =np.std(data)
print(varianza)
print(desviacion_estandar)

2.0
1.4142135623730951

Generación de Datos Aleatorios

In [ ]:
muestra = np.random.normal(0, 1, 1000)
print(np.mean(muestra), np.std(muestra))

-0.006543456960417206 1.0059985778093545

Correlación

In [ ]:
corr = np.corrcoef([1,2,3], [1,5,7])
print(corr)

Funciones Estadísticas Adicionales (NumPy)

In [ ]:
np.quantile(data, 0.5)

np.float64(3.0)

Cuadros estadisticos

In [ ]:
import numpy as np
import pandas as pd
from io import StringIO

raw = """Marca temporal\tNúmero de matrícula\t¿Cuántos años cumplidos tienes?\t¿Has realizado programas utilizando Python?\t¿Has utilizado Google Colab?\t¿Tienes cuenta de GitHub?
19/01/2026 18:32:18\t178920\t22\tSi\tNo\tSi
19/01/2026 18:32:23\t182712\t21\tSi\tNo\tSi
19/01/2026 18:32:25\t180370\t26\tSi\tSi\tSi
19/01/2026 18:32:27\t182570\t21\tSi\tSi\tSi
19/01/2026 18:32:28\t177622\t24\tSi\tNo\tSi
19/01/2026 18:32:29\t175166\t22\tSi\tSi\tSi
19/01/2026 18:32:30\t177573\t22\tSi\tSi\tSi
19/01/2026 18:32:35\t178430\t21\tSi\tSi\tSi
19/01/2026 18:32:38\t179169\t23\tSi\tNo\tSi
19/01/2026 18:32:41\t177263\t22\tSi\tSi\tSi
19/01/2026 18:32:48\t179884\t23\tSi\tNo\tSi
19/01/2026 18:32:48\t183016\t22\tSi\tNo\tSi
19/01/2026 18:32:50\t179033\t23\tSi\tSi\tNo
19/01/2026 18:32:54\t178218\t22\tSi\tNo\tSi
19/01/2026 18:32:55\t178446\t22\tSi\tSi\tSi
19/01/2026 18:33:00\t178166\t22\tSi\tSi\tNo
19/01/2026 18:33:02\t177406\t22\tSi\tNo\tSi
19/01/2026 18:33:05\t177192\t22\tSi\tSi\tSi
19/01/2026 18:33:08\t182451\t21\tSi\tNo\tSi
19/01/2026 18:33:08\t171513\t24\tNo\tNo\tSi
19/01/2026 18:33:09\t181619\t21\tSi\tNo\tSi
19/01/2026 18:33:12\t182298\t23\tSi\tNo\tSi
19/01/2026 18:33:14\t181419\t24\tNo\tNo\tSi
19/01/2026 18:33:32\t177291\t21\tSi\tSi\tSi
19/01/2026 18:33:42\t182085\t22\tSi\tNo\tSi
19/01/2026 18:33:53\t176453\t22\tSi\tNo\tSi
19/01/2026 18:34:04\t176263\t24\tSi\tNo\tSi
19/01/2026 18:34:06\t179997\t21\tSi\tNo\tSi
19/01/2026 18:36:21\t175842\t23\tSi\tNo\tNo
19/01/2026 20:19:21\t179913\t20\tSi\tNo\tSi
19/01/2026 20:19:48\t177301\t22\tSi\tSi\tNo
19/01/2026 20:20:06\t183060\t21\tSi\tNo\tSi
19/01/2026 20:20:08\t177935\t22\tSi\tSi\tSi
19/01/2026 20:20:19\t177700\t20\tSi\tSi\tSi
19/01/2026 20:20:26\t178318\t24\tSi\tSi\tSi
19/01/2026 20:20:27\t174653\t24\tSi\tNo\tSi
19/01/2026 20:20:29\t177139\t21\tSi\tNo\tSi
19/01/2026 20:20:31\t173479\t25\tSi\tNo\tNo
19/01/2026 20:20:39\t175588\t23\tNo\tNo\tSi
19/01/2026 20:20:45\t178774\t23\tSi\tSi\tSi
19/01/2026 20:20:45\t175031\t23\tSi\tNo\tNo
19/01/2026 20:20:49\t178396\t21\tSi\tSi\tSi
19/01/2026 20:20:49\t172068\t23\tNo\tNo\tNo
19/01/2026 20:20:50\t174197\t23\tNo\tNo\tSi
19/01/2026 20:20:55\t178584\t22\tSi\tNo\tSi
19/01/2026 20:20:55\t175329\t24\tSi\tNo\tSi
19/01/2026 20:20:56\t177685\t22\tSi\tSi\tSi
19/01/2026 20:20:57\t178678\t22\tNo\tNo\tSi
19/01/2026 20:21:04\t177143\t22\tSi\tNo\tSi
19/01/2026 20:21:07\t182318\t26\tSi\tNo\tSi
19/01/2026 20:21:27\t182377\t20\tSi\tNo\tSi
19/01/2026 20:21:34\t179419\t22\tSi\tNo\tNo
19/01/2026 20:21:35\t181662\t21\tSi\tNo\tSi
19/01/2026 20:21:38\t181760\t21\tSi\tNo\tSi
19/01/2026 20:22:06\t177888\t22\tSi\tNo\tSi
19/01/2026 20:22:15\t176535\t25\tSi\tNo\tSi
19/01/2026 20:22:29\t179862\t21\tSi\tNo\tSi
19/01/2026 20:22:32\t178378\t22\tSi\tNo\tSi
19/01/2026 20:22:50\t177451\t22\tSi\tNo\tSi
19/01/2026 20:23:15\t179804\t21\tSi\tNo\tSi
"""

# Cargar datos
df = pd.read_csv("/content/drive/MyDrive/UPSLP/raw.csv")
df.columns = [c.strip() for c in df.columns]

# Variables
df['edad'] = pd.to_numeric(df['¿Cuántos años cumplidos tienes?'], errors='coerce')
map_sn = {'Si': True, 'No': False}
df['prog_python'] = df['¿Has realizado programas utilizando Python?'].map(map_sn)
df['usa_colab'] = df['¿Has utilizado Google Colab?'].map(map_sn)
df['cuenta_github'] = df['¿Tienes cuenta de GitHub?'].map(map_sn)

In [ ]:
df.head()

,Marca temporal,Número de matrícula,¿Cuántos años cumplidos tienes?,¿Has realizado programas utilizando Python?,¿Has utilizado Google Colab?,¿Tienes cuenta de GitHub?,edad,prog_python,usa_colab,cuenta_github
0,19/01/2026 18:32:18,178920,22,Si,No,Si,22,True,False,True
1,19/01/2026 18:32:23,182712,21,Si,No,Si,21,True,False,True
2,19/01/2026 18:32:25,180370,26,Si,Si,Si,26,True,True,True
3,19/01/2026 18:32:27,182570,21,Si,Si,Si,21,True,True,True
4,19/01/2026 18:32:28,177622,24,Si,No,Si,24,True,False,True

In [ ]:
df.tail()

,Marca temporal,Número de matrícula,¿Cuántos años cumplidos tienes?,¿Has realizado programas utilizando Python?,¿Has utilizado Google Colab?,¿Tienes cuenta de GitHub?,edad,prog_python,usa_colab,cuenta_github
55,19/01/2026 20:22:15,176535,25,Si,No,Si,25,True,False,True
56,19/01/2026 20:22:29,179862,21,Si,No,Si,21,True,False,True
57,19/01/2026 20:22:32,178378,22,Si,No,Si,22,True,False,True
58,19/01/2026 20:22:50,177451,22,Si,No,Si,22,True,False,True
59,19/01/2026 20:23:15,179804,21,Si,No,Si,21,True,False,True

In [ ]:
df.head(10)

,Marca temporal,Número de matrícula,¿Cuántos años cumplidos tienes?,¿Has realizado programas utilizando Python?,¿Has utilizado Google Colab?,¿Tienes cuenta de GitHub?,edad,prog_python,usa_colab,cuenta_github
0,19/01/2026 18:32:18,178920,22,Si,No,Si,22,True,False,True
1,19/01/2026 18:32:23,182712,21,Si,No,Si,21,True,False,True
2,19/01/2026 18:32:25,180370,26,Si,Si,Si,26,True,True,True
3,19/01/2026 18:32:27,182570,21,Si,Si,Si,21,True,True,True
4,19/01/2026 18:32:28,177622,24,Si,No,Si,24,True,False,True
5,19/01/2026 18:32:29,175166,22,Si,Si,Si,22,True,True,True
6,19/01/2026 18:32:30,177573,22,Si,Si,Si,22,True,True,True
7,19/01/2026 18:32:35,178430,21,Si,Si,Si,21,True,True,True
8,19/01/2026 18:32:38,179169,23,Si,No,Si,23,True,False,True
9,19/01/2026 18:32:41,177263,22,Si,Si,Si,22,True,True,True

In [ ]:
# A NumPy
edad = df['edad'].to_numpy(dtype=float)
prog_py = df['prog_python'].to_numpy(dtype=bool)
usa_colab = df['usa_colab'].to_numpy(dtype=bool)
cuenta_gh = df['cuenta_github'].to_numpy(dtype=bool)

In [ ]:
print(f'ndarray edad primeros 5 elementos: {edad[:5]}')

ndarray edad primeros 5 elementos: [22. 21. 26. 21. 24.]

In [ ]:
print(f'ndarray prog_python primeros 5 elementos: {prog_py[:5]}')
print(f'ndarray usa_colab primeros 5 elementos: {usa_colab[:5]}')
print(f'ndarray prog_python primeros 5 elementos: {cuenta_gh[-5:]}')

ndarray prog_python primeros 5 elementos: [ True  True  True  True  True]
ndarray usa_colab primeros 5 elementos: [False False  True  True False]
ndarray prog_python primeros 5 elementos: [ True  True  True  True  True]

In [ ]:
# Descriptivos de edad (NumPy)
summary_age = {
    'n': int(edad.size),
    'min': float(np.min(edad)),
    'p25': float(np.percentile(edad, 25)),
    'mediana': float(np.median(edad)),
    'media': float(np.mean(edad)),
    'p75': float(np.percentile(edad, 75)),
    'max': float(np.max(edad)),
    'rango(ptp)': float(np.ptp(edad)),
    'var_muestral': float(np.var(edad, ddof=1)),
    'std_muestral': float(np.std(edad, ddof=1)),
    'cv': float(np.std(edad, ddof=1)/np.mean(edad)),
}
summary_age

{'n': 60,
 'min': 20.0,
 'p25': 21.0,
 'mediana': 22.0,
 'media': 22.3,
 'p75': 23.0,
 'max': 26.0,
 'rango(ptp)': 6.0,
 'var_muestral': 1.8406779661016948,
 'std_muestral': 1.3567158752302173,
 'cv': 0.06083927691615324}

In [ ]:
# Frecuencias (NumPy)
freq_python = {'Si': int(np.count_nonzero(prog_py)), 'No': int(edad.size - np.count_nonzero(prog_py))}
freq_colab  = {'Si': int(np.count_nonzero(usa_colab)), 'No': int(edad.size - np.count_nonzero(usa_colab))}
freq_gh     = {'Si': int(np.count_nonzero(cuenta_gh)), 'No': int(edad.size - np.count_nonzero(cuenta_gh))}

In [ ]:
print(f'Frecuencia de utilizar python en los programas: {freq_python}')
print(f'Frecuencia de utilizar colab en los programas: {freq_colab}')
print(f'Frecuencia de utilizar github en los programas: {freq_gh}')

Frecuencia de utilizar python en los programas: {'Si': 54, 'No': 6}
Frecuencia de utilizar colab en los programas: {'Si': 18, 'No': 42}
Frecuencia de utilizar github en los programas: {'Si': 52, 'No': 8}

In [ ]:
# Tablas cruzadas (NumPy)
def tabla2x2(a, b):
    t = np.zeros((2,2), dtype=int)
    t[1,1] = np.count_nonzero(a & b)
    t[1,0] = np.count_nonzero(a & ~b)
    t[0,1] = np.count_nonzero(~a & b)
    t[0,0] = np.count_nonzero(~a & ~b)
    return t

tab_py_colab = tabla2x2(prog_py, usa_colab)
tab_py_gh    = tabla2x2(prog_py, cuenta_gh)
tab_colab_gh = tabla2x2(usa_colab, cuenta_gh)

In [ ]:
print(f'Tabla cruzada de python y colab: \n{tab_py_colab}')
print(f'Tabla cruzada de python y github: \n{tab_py_gh}')
print(f'Tabla cruzada de colab y github: \n{tab_colab_gh}')

Tabla cruzada de python y colab:
[[ 6  0]
 [36 18]]
Tabla cruzada de python y github:
[[ 1  5]
 [ 7 47]]
Tabla cruzada de colab y github:
[[ 5 37]
 [ 3 15]]

In [ ]:
means_by_group = {
    'edad_promedio_Python': {'Si': float(np.mean(edad[prog_py])) if np.any(prog_py) else np.nan,
                             'No': float(np.mean(edad[~prog_py])) if np.any(~prog_py) else np.nan},
    'edad_promedio_Colab':  {'Si': float(np.mean(edad[usa_colab])) if np.any(usa_colab) else np.nan,
                             'No': float(np.mean(edad[~usa_colab])) if np.any(~usa_colab) else np.nan},
    'edad_promedio_GitHub': {'Si': float(np.mean(edad[cuenta_gh])) if np.any(cuenta_gh) else np.nan,
                             'No': float(np.mean(edad[~cuenta_gh])) if np.any(~cuenta_gh) else np.nan},
}
means_by_group

{'edad_promedio_Python': {'Si': 22.203703703703702, 'No': 23.166666666666668},
 'edad_promedio_Colab': {'Si': 22.11111111111111, 'No': 22.38095238095238},
 'edad_promedio_GitHub': {'Si': 22.21153846153846, 'No': 22.875}}

In [ ]:
/content/drive/MyDrive/UPSLP/raw.csv